*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(123, 203, 146);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scoreboard{
    width: 950px;
    border: 2px solid #FFFFFF;
    margin-top: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 35px;
    color: #FFFFFF;
}

.logo{
    font-family: 'Roboto';
    font-size: 40px;
    font-weight: 600;
    line-height: 46.88px;
    letter-spacing: 0.1em;
    text-align: left;
}

.score{
    display: flex;
    align-items: center;
    gap: 40px;
}

.compScore , .userScore{
    text-align: center;
    background-color: #fff;
    height: 120px;
    width: 130px;
    border-radius: 9px;
}

.compScore p{
    padding-top: 10px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #656565;
}
.userScore p{
    padding-top: 10px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 600;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #656565;
}

.compScore h1{
    font-family: 'Roboto';
    font-size: 60px;
    font-weight: 700;
    line-height: 79.69px;
    text-align: center;
    color: #252525;
}

.userScore h1{
    font-family: 'Roboto';
    font-size: 60px;
    font-weight: 700;
    line-height: 79.69px;
    text-align: center;
    color: #252525;
}

.hands{
    background-image: url("../images/triangle.png");
    background-repeat: no-repeat;
    width: 500px;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 70PX;
    background-position: center;
}
.hands img{
    height: 180px;
    width: 180px;
}
.scissors{
    margin-left: 43px;
}
.papper{
    margin-right: 43px;
}

.hand{
    cursor: pointer;
    transition: all 0.25s ease-in-out; 
}

.hand:hover{
    transform: translate3d(0px, -8px, 0px);
}

.contest{
    padding-top: 50px;
    width: 900px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.contest img{
    height: 220px;
    width: 220px;
}

.user-con h1, .comp-con h1{
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 600;
    line-height: 19.92px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 20px;
    color: #FFFFFF;

}

.resultHeading{
    font-family: 'Roboto';
    font-size: 39px;
    font-weight: 800;
    line-height: 45.7px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;

}

.resultSubheading{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 800;
    line-height: 29.3px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
}

.result-con button{
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 600;
    line-height: 17.58px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #6B6B6B;
    background-color: #FFFFFF;
    border: none;
    border-radius: 9px;
    padding: 12px;
    margin-left: 35px;
    cursor: pointer;

}


.ruleBtn {
    position: fixed;
    bottom: 15px;
    right: 144px;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 600;
    line-height: 24.61px;
    letter-spacing: 0.1em;
    text-align: center;
    border: 2px solid #FFFFFF

}

.rulecard {
    
    position: fixed;
    bottom: 90px;
    right: 10px;
    width: 280px;
    height: 370px;
    padding: 20px;
    border: 7px solid #FFFFFF;
    border-radius: 13px; 
    background: #004429;
    text-align: center;
    color: #FFFFFF;
    display: none;
    z-index: 1000;
}
.rulecard h1{
    padding-bottom: 10px;
}

.rules ul {
    list-style-type: none; 
    padding-left: 20px; 
}
.rules ul li::before {
    content: '\25A0'; 
    color:  #FFD600;
    display: inline-block; 
    width: 1em; 
    margin-left: -1.5em; 
    margin-right: 0.5em; 
}
.rules ul li{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 15.23px;
    text-align: left;
    padding: 5px;

} 



.closeBtn{
    position: absolute;
    top: -29px;
    right: -15px;
    background: #FF0000;
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
    line-height: 20px;
    font-family: 'Dangrek';
    font-weight: 400;
    line-height: 79.49px;
    text-align: left;

}

.next-btn-wrapper{
    position: absolute;
    bottom: 17px;
    right: 31px;
    border: 2px solid #ffff;
    border-radius: 10px;
    width: 100px;
    height: 47px;
    text-transform: capitalize;
    background-color: transparent;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 600;
    line-height: 24.61px;
    letter-spacing: 0.1em;
}
.next-btn-wrapper a{
    text-decoration: none;
    color: white;
}



/* Hurray page */



/* Hurray Page Start */
.winning {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winning .winningTitle {
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #fff;
}

.winning .info {
    color: #fff;
    text-transform: uppercase;
}

.trophy {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    overflow: hidden;
}

.trophy .trophySVG {
    position: absolute;
    bottom: 0;
}

/* stars */
.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8 {
    position: absolute;
}

.star1 {
    width: 20px;
    top: 10%;
    right: 10%;
    animation: starTwinkle 0.4s ease-in-out alternate-reverse infinite;
}

.star2 {
    width: 20px;
    top: 25%;
    left: 10%;
    animation: starTwinkle 0.6s ease-in-out alternate-reverse infinite;
}

.star3 {
    width: 50px;
    top: 10%;
    left: 20%;
    animation: starTwinkle 0.8s ease-in-out alternate-reverse infinite;
}

.star4 {
    width: 80px;
    top: 10%;
    right: 20%;
    animation: starTwinkle 0.6s ease-in-out alternate-reverse infinite;
}

.star5 {
    top: 40%;
    left: 5%;
    animation: starTwinkle 0.8s ease-in-out alternate-reverse infinite;
}

.star6 {
    top: 50%;
    right: 10%;
    animation: starTwinkle 1s ease-in-out alternate-reverse infinite;
}

.star7 {
    width: 30px;
    top: 25%;
    right: 55%;
    animation: starTwinkle 0.4s ease-in-out alternate-reverse infinite;
}

.star8 {
    width: 40px;
    bottom: 10%;
    left: 25%;
    animation: starTwinkle 0.6s ease-in-out alternate-reverse infinite;
}

@keyframes starTwinkle {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}




/* star styles end */




/* spread circle animation start */


.spread-circle-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Common styles for each circle */
.spread-circle-wrapper .animation,
.spread-circle {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    background: #ea4335;
    z-index: 2;
}

li {
    list-style: none;
}

.spread-circle-wrapper li:nth-child(3) {
    animation: rounder3 2s linear 2s infinite alternate;
    background: rgba(251, 97, 84, 0.4);
}

.spread-circle-wrapper li:nth-child(2) {
    animation: rounder2 2s linear 2s infinite alternate;
    background: rgba(245, 85, 71, 0.5);
}

.spread-circle-wrapper li:nth-child(1) {
    animation: rounder1 2s linear 2s infinite alternate;
    background: rgba(238, 76, 63, 0.6);
}

.animation {
    z-index: 1;
}

/* Keyframes for border animation */
@keyframes rounder1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.39);
    }
}

@keyframes rounder2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.69);
    }
}

@keyframes rounder3 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.99);
    }
}

/* spread circle animation ends */