* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: rgba(140, 196, 97, 1);
}

.game-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    margin-top: 3rem;
    border: 2px solid rgba(255, 255, 255, 1);
    height: 160px;
    width: 862px;
    margin-left: 22rem;
    border-radius: 10px;
}

h1 {
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    line-height: 47px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
}

.scores {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 5rem;
    margin: 2rem 0;
    font-size: 1.5rem;
}

.score-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 1);
    height: 128px;
    font-size: 17px;
    width: 150px;
    border-radius: 10px;
    color: rgba(101, 101, 101, 1);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    font-family: "Roboto", sans-serif;
}

.point {
    font-size: 4.25rem;
    font-weight: 600;
    color: rgba(140, 196, 97, 1);
}


.choices {

    margin-top: 6rem;

}

.choice {
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;

}


.choice:active {
    transform: scale(0.95);
}

.choice.selected {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgb(31, 202, 145);
    background-color: rgb(31, 202, 145);
}


.rock-paper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}


.bg-img {
    width: 205px;
    height: 185px;
    object-fit: cover;
    /* position: absolute;  */
}

.overlay-img {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90px;
    height: 80px;
    object-fit: contain;
}



#scissors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

#line1 {
    position: absolute;
    width: 158px;
    height: 14px;
    left: 55%;
    margin-top: -13%;
    transform: translateX(-41%) rotate(-60deg);
    z-index: -1;

}

#line2 {

    position: absolute;
    left: 44%;
    transform: translateX(-50%) rotate(60deg);
    z-index: -1;
    margin-top: -14%;
    width: 158px;
    height: 14px;

}

#line3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    z-index: -1;
    width: 10%;
    margin-top: -21%;
    width: 150px;
    height: 14px;

}

.paper::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    width: 120%;
    height: 120%;
    z-index: 1;
    pointer-events: none;
}





.message {
    display: flex;
    right: 1rem;
    justify-content: flex-end;
    margin-right: 5rem;

}

.rules {
    width: 303px;
    height: 367px;
    position: absolute;
    background: rgba(0, 68, 41, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 13px;
    border: 6px solid #ffffff;
    line-height: 28px;
    border-radius: 10px;
    font-weight: 400;
    bottom: 6rem;
    padding: 1rem;
    box-sizing: border-box;
    display: none;

}

.rules h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 1rem;

}

.rules-list {
    padding-left: 1.5rem;
    margin: 0;
    list-style: none;
}

.rules-list li::marker {
    color: rgba(255, 214, 0, 1);
    content: '■';
    font-size: 18px;
}

.rules-list li {
    margin-bottom: 0.5rem;
}

.close-rules {
    position: absolute;
    top: -24px;
    right: -18px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    cursor: pointer;
    background: red;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 4px solid #ffffff;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rules-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    margin-top: 1rem;

}

.rules-btn button {
    background-color: rgba(140, 196, 97, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 22px;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 16px;
}

/* next button */
.next-btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: -3rem;
    margin-right: 1rem;

}

.next-btn-wrapper a {
    background-color: rgba(140, 196, 97, 1);
    color: rgba(255, 255, 255, 1);
    padding: 10px 22px;
    border: 3px solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    font-size: 16px;
}

a {
    text-decoration: none;
}



/* next button end */


/* spread circle animation start */


.spread-circle-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Common styles for each circle */
.spread-circle-wrapper .animation,
.spread-circle {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    background: #ea4335;
    z-index: 2;
}

li {
    list-style: none;
}

.spread-circle-wrapper li:nth-child(3) {
    animation: rounder3 2s linear 2s infinite alternate;
    background: rgba(251, 97, 84, 0.4);
}

.spread-circle-wrapper li:nth-child(2) {
    animation: rounder2 2s linear 2s infinite alternate;
    background: rgba(245, 85, 71, 0.5);
}

.spread-circle-wrapper li:nth-child(1) {
    animation: rounder1 2s linear 2s infinite alternate;
    background: rgba(238, 76, 63, 0.6);
}

.animation {
    z-index: 1;
}

/* Keyframes for border animation */
@keyframes rounder1 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.39);
    }
}

@keyframes rounder2 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.69);
    }
}

@keyframes rounder3 {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.99);
    }
}

/* spread circle animation ends */

/* Game choice info */

.game-choice {
    position: absolute;
    width: 100%;
    min-height: 69vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
    margin-top: 2rem;
}

.game-choice-wrapper {
    width: 700px;
    min-height: 10vh;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 2px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    text-align: center;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#userPicked {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #000;
    text-align: center;
}

#computerPicked {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #000;
    text-align: center;
}

#userpicked, .choice.left {
    display: block;
}

#computerpicked, .choice.right {
    display: block;
}

#userPicked,
#computerPicked {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    width: 100%;
}

#rock-cloned,
#paper-cloned,
#scissors-cloned {
    display: none;
}

/* Game choice info ends*/




/* Win modal */
.win-modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: grid;
    text-align: center;
    place-content: center;
    top: 0;
    display: none;
}

.win-modal::before {
    content: '';
    position: absolute;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;

}

.winner,
.play-again {
    z-index: 1;
}

.play-again {
    background: #ffff;
    letter-spacing: 2px;
    color: #a00505;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 700;
}

.winner {
    margin-bottom: 1rem;
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 24px;
    line-height: 20px;
}


.choice.left {
    position: absolute;
    left: 368px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}


.choice.right {
    position: absolute;
    right: 368px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease, opacity 0.5s;
    animation: fadeIn 0.5s ease;
    pointer-events: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-60%);
    }

    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}






/* Hurray Page Start */
.winning {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.winning .winningTitle {
    margin-bottom: 10px;
    margin-top: 30px;
    text-transform: uppercase;
    color: #fff;
}

.winning .info {
    color: #fff;
    text-transform: uppercase;
}

.trophy {
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    overflow: hidden;
}

.trophy .trophySVG {
    position: absolute;
    bottom: 0;
}

/* stars */
.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8 {
    position: absolute;
}

.star1 {
    width: 20px;
    top: 10%;
    right: 10%;
    animation: starTwinkle 0.4s ease-in-out alternate-reverse infinite;
}

.star2 {
    width: 20px;
    top: 25%;
    left: 10%;
    animation: starTwinkle 0.6s ease-in-out alternate-reverse infinite;
}

.star3 {
    width: 50px;
    top: 10%;
    left: 20%;
    animation: starTwinkle 0.8s ease-in-out alternate-reverse infinite;
}

.star4 {
    width: 80px;
    top: 10%;
    right: 20%;
    animation: starTwinkle 0.6s ease-in-out alternate-reverse infinite;
}

.star5 {
    top: 40%;
    left: 5%;
    animation: starTwinkle 0.8s ease-in-out alternate-reverse infinite;
}

.star6 {
    top: 50%;
    right: 10%;
    animation: starTwinkle 1s ease-in-out alternate-reverse infinite;
}

.star7 {
    width: 30px;
    top: 25%;
    right: 55%;
    animation: starTwinkle 0.4s ease-in-out alternate-reverse infinite;
}

.star8 {
    width: 40px;
    bottom: 10%;
    left: 25%;
    animation: starTwinkle 0.6s ease-in-out alternate-reverse infinite;
}

@keyframes starTwinkle {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

/* Hurray Page End */